doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title homework14
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="reset.css")
    body 
     .wrapper 
        header.header 
            h1.header__title-pages Homework 14
        main.main 
            section.buttons-big    
              h2.buttons-big__title Buttons Big
              .buttons-big__wrap
                 .buttons-big__list
                    .list__blue-buttons
                        include elements/elem1
                        include elements/elem2
                        include elements/elem3
                    .list__grey-buttons
                        include elements/elem4
                        include elements/elem5
                        include elements/elem6
                    .list__black-buttons 
                        include elements/elem7
                        include elements/elem8
                        include elements/elem9
                    .list__white-blue-buttons 
                        include elements/elem10
                        include elements/elem11
                        include elements/elem12
                 .buttons-big__list-second
                    .list-second__different-buttons 
                        include elements/elem13
                        include elements/elem14
                        include elements/elem15
                    .list-second__tab-buttons
                        include elements/elem16
                        include elements/elem17
                    .list-second__size-buttons
                        include elements/elem18 
                        include elements/elem19
                        include elements/elem20
            section.buttons-small    
              h2.buttons-small__title Buttons Small
              .buttons-small__wrap
                .buttons-small__item
                    .item__blue-red-buttons
                        include elements/elem21
                        include elements/elem22
                        include elements/elem23
                    .item__gray-buttons
                        include elements/elem24
                        include elements/elem25
                        include elements/elem26
                    .item__black-white-buttons
                        include elements/elem27
                        include elements/elem28
                        include elements/elem29
                    .item__blue-white-buttons
                        include elements/elem30
                        include elements/elem31
                        include elements/elem32
                .buttons-small__item-second
                    .item-second__tab-buttons
                        include elements/elem33
                        include elements/elem34
                    .item-second__search-buttons
                        include elements/elem35
                        include elements/elem36
                        include elements/elem37
                    .item-second__info-buttons
                        include elements/elem38
                        include elements/elem39
                        include elements/elem40
                .buttons-small__item-third
                    .item-third__icons-search-buttons
                        include elements/elem41
                        include elements/elem42
                .buttons-smal__item-fourth 
                    .item__tag-buttons
                        include elements/elem43
                        include elements/elem44
                    .item__tag-second-buttons
                        include elements/elem45
                        include elements/elem46
               
                         
                    
                         
                   
                         
                        
                    
                    
                        
                            
                        
                        
                        
                       
                        

            

                            
                        
                 
           
                
                        
             
              
            
               
               
            
               
                        
                  
                
              
            
                
                 

                 
           
      
                               
