.black-buttons__second {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 144px;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  text-align: center;
  color: #2c2c2c;
  font-size: 0.93rem;
}
