.black-white-buttons__first {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 111px;
  height: 36px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  color: #2c2c2c;
  font-size: 0.81rem;
  border: 1px solid #e0e0e0;
}
