.white-blue-buttons__third {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 144px;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #18a0fb;
  border-radius: 5px;
  text-align: center;
  color: #18a0fb;
  font-size: 0.93rem;
}
