.gray-buttons__third {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  width: 111px;
  height: 36px;
  background: rgba(224, 224, 224, 0.3);
  border: none;
  border-radius: 5px;
  color: #878787;
  font-size: 0.81rem;
}
