.tab-buttons__second {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 36px;
  color: #2c2c2c;
  font-size: 0.93rem;
  background: #ffffff;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}
