.button.info-buttons__s {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 36px;
  color: #ffffff;
  font-size: 0.93rem;
  background: #18a0fb;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
