.tab-buttons__tab-1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 0.93rem;
  width: 134px;
  height: 46px;
  background: #18a0fb;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
